*{
    margin:0px;
    padding: 0px;
}

body{
    background-image:  url(register1.jpg);
    background-size: cover;
    background-attachment: fixed;

}
.col-lg-5{
    background: rgba(0,0,0,0.5);
    margin-top: 10px;
    font-family: 'Gill Sans';

}
h1{
    color:whitesmoke;
    font-size: 30px;
    font-family: 'Times New Roman';
}

.form-control{
    background: rgba(255,255,255,0.2);
    border-radius: 0px;
    border-bottom: 5px  purple;
    font-size: 20px;
    margin-top: 20px;
}
.btn-warning{
    margin-bottom: 30px;
    width: 80px;
    font-size: 19px;
    color: white;
   

}