* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(
            to top, #7790ff, #5b87ff);
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.board {
    left: 50%;
    height: 60%;
    width: 1000px;
    background-image: linear-gradient(
            to right, #d3d5da, #d5e0df);
    border-radius: 14px;
}
  
.ball {
    height: 30px;
    width: 30px;
    border-radius: 10%;
    position: fixed;
    top: calc(50%);
    left: calc(50%);
}
  
.ball_effect {
    height: 100%;
    width: 100%;
    border-radius: 100px;
    animation: spinBall 0.1s linear infinite;
    box-shadow: inset 0 0 18px violet;
}
  
@keyframes spinBall {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
  
.paddle {
    height: 100px;
    width: 18px;
    border-radius: 50%;
    position: fixed;
}
  
.paddle_1 {
    top: calc(20vw + 55px);
    left: calc(25vw + 30px);
    box-shadow: inset 0 0 18px #0ff;
}
  
.paddle_2 {
    top: calc(55vh - 55px);
    right: calc(25vw + 30px);
    box-shadow: inset 0 0 18px #0ff;
}
  
.player_1_score {
    height: 50px;
    width: 50px;
    color: rgb(0, 0, 0);
    position: fixed;
    left: 30vw;
    margin-top: 30px;
}
  
.player_2_score {
    height: 50px;
    width: 50px;
    color: rgb(0, 0, 0);
    position: fixed;
    left: 70vw;
    margin-top: 30px;
}
  
.message {
    position: fixed;
    /* color: #48426d; */
    height: 10vh;
    width: 30vw;
    color: #00046b;
    left: 41vw;
    margin: 30px auto auto auto;
}