<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style2.css">
    <link rel="stylesheet" type="text/js" href="login.js">

    <title>gogDames</title>
</head>

<body>
    <div class="container">
        <div class="frame">
          <div class="nav">
            <ul class="links">
                <li class="signin-inactive"> <a class="btn" href="login1.html">Sign in</a></li>
                <li class="signup-active"><a class="btn" href="register.html">Sign up</a></li>
                </ul>   
            </div>
                <form class="form-signin" action="" method="post" name="form">
                <label for="first_name"></label>
                <input class="form-styling" type="text" name="first_name" placeholder="First Name" />
                <label for="last_name"></label>
                <input class="form-styling" type="text" name="last_name" placeholder="Last Name" />
                <label for="date_of_birth">Date of birth:</label>
                <input class="form-styling" type="date" name="date_of_birth" placeholder="" />
                <label for="email"></label>
                <input class="form-styling" type="text" name="email" placeholder="E-mail" />
                <label for="password"></label>
                <input class="form-styling" type="password" name="password" placeholder="Password" />
                <label for="username"></label>
                <input class="form-styling" type="text" name="username" placeholder="Username" />
                <button type="submit" class="btn-signup"><strong>Sign up</strong></button>
                </form>
        </div>
</body>

</html>